<!-- root/src/app/welcome-page/welcome-page.component.html -->

<div style="display: flex; justify-content: center; align-items: center; height: 80%;">
  <div>

    <h1>
      Welcome to myFlix!
    </h1>

    <div style="display: flex; justify-content: center;">
      <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 1em;" color="primary">
        Sign Up
      </button>
      <button mat-raised-button color="primary" (click)="openUserLoginDialog();">
        Login
      </button>
    </div>

  </div>
</div>