<!-- root/src/app/director/director.component.html -->

<mat-card>

  <mat-card-header style="display: flex; justify-content: space-between;">
    <mat-card-title>
      <h2>{{ data.Name }}</h2>
    </mat-card-title>
    <button mat-stroked-button mat-dialog-close color="primary">
      X
    </button>
  </mat-card-header>

  <mat-card-content style="padding-bottom: 2em;">
    <p>
      <b>Born: </b>{{ data.Birth_Year }}
    </p>
    <p *ngIf="data.Death_Year">
      <b>Died: </b>{{ data.Death_Year }}
    </p>
    <p>
      <b>Bio: </b>{{ data.Bio }}
    </p>
  </mat-card-content>

</mat-card>