<!-- root/src/app/app.component.html -->

<div class="main-page" style="display: flex; justify-content: center; align-items: center; height: 80%;">
  <div>
    <h1>
      Welcome to myFlix!
    </h1>
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin-right: 10px;" color="primary">
      Sign Up
    </button>
    <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="openUserLoginDialog();">
      Login
    </button>
    <button mat-raised-button color="primary" (click)="openMoviesDialog()">
      All Movies
    </button>
  </div>
</div>